*

!.gitignore
!.zshrc
!.tmux.conf

# i hate this :(
!scripts/
!scripts/**

!.config/
.config/*

# !.config/nvim/
# !.config/nvim/**

!.config/ghostty/
!.config/ghostty/**

!.config/zathura/
!.config/zathura/**
